<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>API FRONT</title>
        <link rel="icon" href="./../img/favicon.ico" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="API-FrontEnd | Desafio para vaga de Desenvolvedor Full Stack - Linx Digital">
        <meta name="author" content="Candidato | Paulo Moraes">        
        <meta name="theme-color" content="#6a1b9a">
        <!-- core CSS -->
        <link rel="stylesheet" type="text/css" href="/css/costum.css" />
    </head>
    <body>
        <br />

        <section class="content content-align">
            <p class="text-center text-size-14 text-color-purple text-margin"><b><%= title %></b></p>
            <div class="grid grid-template-columns-1">
                <div>
                    <p class="badge-win badge-win-gray">1º</p>
                    <img src="https://www.lazershop.com.br/img/products/infantil-aco-4-posicoes-mor_1_1000.jpg" class="img-product" alt="produto em baixa de preço" /> <br />
                    <p>Cadeira de Praia 4 Posições 002004 Mor</p>                    
                    <p class="">
                        <span class="text-old-price">R% 799,90</span> <br />
                        Por <b class="text-actual-price text-color-purple">R$ 549,90</b> <br />
                        10xR$54,99
                    </p>
                </div>
                <div>
                    <p class="badge-win badge-win-gray">2º</p>
                    <img src="https://www.lazershop.com.br/img/products/infantil-aco-4-posicoes-mor_1_1000.jpg" class="img-product" alt="produto em baixa de preço" /> <br />
                    <p>Cadeira de Praia 4 Posições 002004 Mor</p>                    
                    <p class="">
                        <span class="text-old-price">R% 799,90</span> <br />
                        Por <b class="text-actual-price text-color-purple">R$ 549,90</b> <br />
                        10xR$54,99
                    </p>
                </div>  
                <div>
                    <p class="badge-win badge-win-gray">3º</p>
                    <img src="https://www.lazershop.com.br/img/products/infantil-aco-4-posicoes-mor_1_1000.jpg" class="img-product" alt="produto em baixa de preço" /> <br />
                    <p>Cadeira de Praia 4 Posições 002004 Mor</p>                    
                    <p class="">
                        <span class="text-old-price">R% 799,90</span> <br />
                        Por <b class="text-actual-price text-color-purple">R$ 549,90</b> <br />
                        10xR$54,99
                    </p>
                </div>
                <div>
                    <p class="badge-win badge-win-gray">4º</p>
                    <img src="https://www.lazershop.com.br/img/products/infantil-aco-4-posicoes-mor_1_1000.jpg" class="img-product" alt="produto em baixa de preço" /> <br />
                    <p>Cadeira de Praia 4 Posições 002004 Mor</p>                    
                    <p class="">
                        <span class="text-old-price">R% 799,90</span> <br />
                        Por <b class="text-actual-price text-color-purple">R$ 549,90</b> <br />
                        10xR$54,99
                    </p>
                </div>
            </div>
        </section>        

        <section class="content mt-10">
            <form action="/" method="GET">

                <label for="max_products">Max Products:</label><br>
                <input type="number" id="max_products" name="max_products" value="16"><br><br>

                <label for="algorithm">Algorithm:</label> <br />
                <select name="algorithm" id="algorithm">
                    <option value="mostpopular">Most Popular</option>
                    <option value="pricereduction">Price Reduction</option>
                </select><br><br>

                <label for="size_result">Size Result JSON:</label> <br />
                <select name="size_result" id="size_result">
                    <option value="compact">Compact</option>
                    <option value="complete">Complete</option>
                </select> <br><br>

                <button type="submit">FILTER</button>

              </form>
        </section>

    </body>

</html>